In [127]:
import pandas as pd
import numpy as np

In [128]:
races = ['African','Asian','Caucasian','Indian']
genders = ['Man','Woman']
models = ['AdaFace','ArcFace','ElasticFace','GhostFace','SphereFace']

In [129]:
df = pd.DataFrame(columns=models,index = [j+'_'+i for j in races for i in genders] + [' '] + races).astype('float')

In [130]:
def tpr_at_fpr(fpr, tpr, fpr_threshold):
    return "{:.2e}".format(tpr[np.argmin(np.abs(fpr - fpr_threshold))])

In [131]:
for model in models:
    val = []
    for race in races:
        for gender in genders:
            with open(f'{model}/roc/{race}_{gender}_roc.npy','rb') as f:
                fpr  = np.load(f)
                tpr  = np.load(f)
            val.append(tpr_at_fpr(fpr, tpr, 0.001))
    val.append(' ')
    for race in races:
        with open(f'{model}/roc/{race}_roc.npy','rb') as f:
                    fpr  = np.load(f)
                    tpr  = np.load(f)
        val.append(tpr_at_fpr(fpr, tpr, 0.001))
    df[model] = val

In [132]:
df.style.map(lambda _: "background-color: white", subset=(df.index[8],))